package config

import "log/slog"

type ports struct {
	Client int `yaml:"client"`
	Server int `yaml:"server"`
}

type logger struct {
	Level    *slog.Level `yaml:"level"`
	ShowPath bool        `yaml:"showPath"`
}

type Config struct {
	Env    string `yaml:"env"`
	Ports  ports  `yaml:"ports"`
	Logger logger `yaml:"logger"`
}

func MustLoad() *Config {
	return &Config{}
}
